* {
    margin: 0px;
    padding: 0px;
}

.pageWrapper {
	width: 100%;
	overflow: auto;
}

a {
	color: #de3030;
}

header {
	display: inline-block;
	float: left;
	width: 65%;
	margin: 20px 0 10px 0;
	background: white;
	height: 50px;
}

.footer {
	display: inline-block;
	margin: 10px 0px 10px 10px;
	font-family: 'Dosis', sans-serif;
	color: grey;
	font-size: 0.9em;
}

.mainName {
	display: inline;
	font-family: 'Indie Flower', cursive;
	transform: translateY(16px);
	margin-left: 15px;
	color: grey;
	font-size: 2em;
}

.personalLinks {
	transform: translateY(-3px);
	font-family: 'Dosis', sans-serif;
	display: inline;
	margin: 10px 0 10px auto;
	text-align: right;
	float: right;
}

.personalLinks a {
	margin: 0 10px 0 10px;
	font-size: 0.9em;
	text-decoration: none;
}

.leftHeader {
	display: inline-block;
	float: left;
	width: 15%;
	margin: 0px;
	padding: 0px;
	height: 50px;
}

.vertCenter {
	display: inline-block;
	vertical-align: middle;
	line-height: 1.3em;
}
.roundedImage {
	border-radius: 50%;
}

.titleWrapper {
	display: inline-block;
	float: left;
	width: 65%;
	margin: 0px 0px 0px 15%;
	padding: 0px;
	background: white;
	height: 30px;
}

.detailTitle {
	transform: translateY(8px);
	color: grey;
	font-size: 1.25em;
	font-family: 'Montserrat', sans-serif;
}

.detailWrapper {
	padding-top: 15px;
	padding-bottom: 20px;
	height: auto;
	display: flex;
	flex-direction: row;
	width: 100%;
}

.detailLeft {
	width: 15%;
	height: auto;
	float: left;
	display: flex;
	justify-content: center; /* align horizontal */
	align-items: center;
}

.detailRight {
	font-family: 'Dosis', sans-serif;
	width: 65%;
	height: auto;
	float: right;
	display: flex;
	align-items: center;
}

.detailText {
	font-size: 0.9em;
	color: darkgray;
	padding-left: 30px;
}

.detailBorderBottom {
	border-bottom: 1px solid darkgray;
}

table td {
	padding-bottom: 5px;
	padding-top: 5px;
}

.top td {
	padding-top: 0px;
}